body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("projekt.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1rem;
  height: 100%;
}
.centered {
  text-align: center;
  color: rgb(128, 128, 128);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 300%;
  padding-top: 20rem;
}
.centered:hover {
  color: rgb(135, 89, 44);
  font-size: 300%;
  font-weight: 900;
  cursor: pointer;
}
.container {
  position: relative;
}
.btn {
  background-color: black;
  border: none;
  border-radius: 25px;
  color: whitesmoke;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 32px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(230, 230, 230);
  color: black;

}
#mc_embed_signup_scroll {
  text-align: center;
}

